* body {
  height: 100%;
  position: relative;
  background-color: #639093;
}

* body div.background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url(../img/background/school.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: -100000;
}

* body > div.school {
  background-image: url(../img/background/school.png);
  -webkit-animation: puff-in-center 5s ease-in-out forwards;
          animation: puff-in-center 5s ease-in-out forwards;
}

* body > div.ivolv {
  background-image: url(../img/background/ivolv.png);
  -webkit-animation: puff-in-center 5s ease-in-out forwards;
          animation: puff-in-center 5s ease-in-out forwards;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

* body div.header.desktop-module {
  width: 60%;
  min-width: 1150px;
  height: 250px;
  position: relative;
  background-image: url(../img/Untitled-3-lowres.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
}

* body div.header.desktop-module img {
  height: 226px;
}

* body div.header.desktop-module h1 {
  color: #FFF;
  font-weight: 400;
  font-size: 1.8em;
  margin-left: 30px;
}

* body div.header.desktop-module div.contact {
  width: 500px;
  height: auto;
  position: absolute;
  top: 75px;
  left: 350px;
  overflow: visible;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
}

* body div.header.desktop-module div.contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
}

* body div.header.desktop-module div.contact div img {
  height: 26px;
  width: auto;
}

* body div.header.desktop-module div.contact div h1 {
  font-family: roboto-light;
  font-size: 1.3rem;
  margin-left: 10px;
}

* body div.header.desktop-module div.contact div a {
  font-family: roboto-light;
}

* body div.sidemenu {
  width: 50%;
  min-width: 800px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  font-size: .9rem;
}

* body div.sidemenu div.bg {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#28505f), color-stop(75%, rgba(83, 133, 164, 0)), to(rgba(125, 185, 232, 0)));
  background: linear-gradient(to right, #28505f 0%, rgba(83, 133, 164, 0) 75%, rgba(125, 185, 232, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

* body div.sidemenu div.bio-wrapper {
  width: 80%;
  height: calc(100% - 250px);
  margin-top: 250px;
  padding-left: 15px;
  position: absolute;
  left: 0;
}

* body div.sidemenu div.bio-wrapper div.button-wrapper {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: visible;
}

* body div.sidemenu div.bio-wrapper div.button-wrapper div.card {
  width: 175px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #63767D;
  -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: linear .1s;
  transition: linear .1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

* body div.sidemenu div.bio-wrapper div.button-wrapper div.card:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
}

* body div.sidemenu div.bio-wrapper div.button-wrapper div.card img {
  width: 80px;
}

* body div.sidemenu div.bio-wrapper div.button-wrapper div.card h1 {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
}

* body div.sidemenu div.bio-wrapper div.bio iframe {
  width: 100%;
  height: calc(100vh - 475px);
  margin-top: 25px;
  border: none;
}

* body div.slider {
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
  overflow: hidden;
}

* body div.slider div.container {
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow-y: scroll;
  padding-right: 100px;
}

* body div.slider div.container div.entry-wrapper {
  margin-top: -4px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

* body div.slider div.container div.entry-wrapper:last-child {
  padding-bottom: 45vh;
}

* body div.slider div.container div.entry-wrapper div.line-wrapper {
  width: 135px;
  height: 400px;
  height: calc(50vh - 135px / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body div.slider div.container div.entry-wrapper div.line-wrapper div.line {
  width: 0;
  height: 100%;
  border: 1.5px #FFF solid;
}

* body div.slider div.container div.entry-wrapper div.entry {
  width: auto;
  height: 135px;
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body div.slider div.container div.entry-wrapper div.entry div.content {
  width: 500px;
  height: 60px;
}

* body div.slider div.container div.entry-wrapper div.entry div.content.visible {
  -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
          animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

* body div.slider div.container div.entry-wrapper div.entry div.content.hidden {
  -webkit-animation: slide-out-blurred-right 0.45s ease-out forwards;
          animation: slide-out-blurred-right 0.45s ease-out forwards;
}

@-webkit-keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
            transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}

@keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
            transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

* body div.slider div.container div.entry-wrapper div.entry div.content div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body div.slider div.container div.entry-wrapper div.entry div.content div.wrapper h1 {
  font-size: 1.4rem;
  font-weight: 500;
}

* body div.slider div.container div.entry-wrapper div.entry div.content div.wrapper div.separator {
  width: 100%;
  height: 0px;
  border: 1.5px solid #FFF;
  margin-right: -4px;
}

* body div.slider div.container div.entry-wrapper div.entry div.content div.wrapper h2 {
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
}

* body div.slider div.container div.entry-wrapper div.entry div.icon {
  width: 135px;
  height: 135px;
  overflow: visible;
  margin-top: -2px;
}

* body div.slider div.container div.entry-wrapper div.entry div.icon img {
  height: 100%;
}
/*# sourceMappingURL=index.css.map */